<%= form_with(model: groom) do |form| %>
  <% if groom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groom.errors.count, "error") %> prohibited this groom from being saved:</h2>

      <ul>
        <% groom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname, class: "form-control" %> 
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
